*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #444;
}

body>header{
  position: sticky;
  top: 0px;
  left: 0px;
}

body header hgroup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 2em;
}

hgroup h1{
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 5px;
}

nav{
  padding: 1em 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

nav ul{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

nav ul li a{
  padding: 0.3em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

nav ul li a:hover{
  border-bottom: 1px solid white;
}

main{
  width: 70%;
  margin: 50px auto;
  padding: 0em 5em;
}

article{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

article header h2{
  font-size: 40px;
  margin: 10px 0px;

}

article section,  article footer{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

article h3{
  font-size: 30px;
}

article p{
  color: #555;
  font-size: 22px;
}

article header p{
  font-size: 18px;
  margin: 3px 0px;
  font-style: italic;
}

section figure{
  width: 100%;
  margin: 50px auto;
}

section figure img{
  width: 100%;
}

section figure figcaption{
  padding: 0.6em;
  font-size: 22px;
  text-align: center;
  background-color: black;
  color: white;
}

details{
  width: 50%;
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.443);
  height: fit-content;
}

 details summary{
  font-size: 22px;
  cursor: pointer;
}

details p{
  margin-top: 10px;
}

article section:nth-last-child(2){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


article aside{
  padding: 0.3em 1em;
  border-left: 2px solid #29627e;
  color: #29627e;

}

article aside p{
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
}

body>footer section:first-child{
  padding: 2em 0em;
  background-color: #333;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  font-size: 18px;
  justify-content: space-evenly;
}

footer address{
  font-style: normal;
  line-height: 1.4em;
}

footer dialog{
  position: relative;
  background:none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
  padding: 1em;
}

footer section:last-child{
  padding: 1em 0em;
  background-color: black;
  font-size: 20px;
  color: white;
  text-align: center;
}